.tech-stack-item {
	box-shadow: rgba(33, 33, 33, 0.4) 0px 2px 8px 0px;
	background: radial-gradient(circle at bottom center, #242630 0%, #242630 100%);
}

#project-screen,
#project-text-container {
	background: #66666620;
}

#project-text-container {
	overflow: scroll !important;
	overflow-y: hidden !important;
}

#project-text-4{
	padding-top: 10px;
}

#project-contents,
#project-top-section,
#search-bar,
#project-preview,
#three-dots,
.project-text {
	background: none !important;
}

.project-img,
.project-img-inner-container {
	width: 100%;
	height: 100% !important;
	object-fit: cover !important;
	object-position: center center;
}

.project-img-container {
	overflow: hidden !important;
	border-radius: 10px;
}

#project-selection-btns,
#project-selection-btn {
	white-space: nowrap;
}

.mini-bio-text {
	text-wrap: normal;
}

#portfolio-bio-div {
	opacity: 0;
	/* display: none; */
}


.project-btn {
	transition: .5s;
	border: 1px solid #313D4A;
	background: #2877D3bb;
}

.project-btn:hover {
	background: #2877D3ff;
}

.mobile-project-btn {
	transition: .5s;
	background: #2877d3;
}

.mobile-project-btn:hover {
	background: #2877D3ff;
}

#three-dots-green, 
#three-dots-yellow,
#three-dots-red {
	transition: 0.3s;
}

#three-dots-green:hover {
	color: #26bf3d;
}

#three-dots-yellow:hover {
	color: #f4b52c;
}

#three-dots-red:hover {
	color: #f55a55;
}

.mobile-project-img-inner-container {
	overflow: hidden !important;
}