@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    overflow: hidden;
}

body {
    overflow-x: hidden !important;
}

/* 
#entry-animation-container  {
    visibility: hidden;
} */


h1 {
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
    letter-spacing: 0.25rem;
    text-align: left;
    color: #0f1113;
}

#word1,
#word2,
#word3,
#word4,
#initial-entry {
    transform: translateY(115px);
}

#word4 {
    color: #0A1117;
}

.text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Swipe colours */
.bg-1,
#home-section1
 {
    background: #0b345a;
    background: radial-gradient(circle at top center, #144472 0%, #022241 100%);
}

.bg-2 {
    /* halfway between 1 & 2 */
    background: #1d5e4d;
    /* background: radial-gradient(circle at top center, #1B7D63 0%, #1f4037 100%); */
    background: radial-gradient(circle at top center, #0C8C45 0%, #023926 100%);

}

.bg-3 {
    /* halfway between 1 & 2 */
    background: #1d5e4d;
    /* background: radial-gradient(circle at top center, #4F9BCE 0%, #14799A 100%); */
    /* background: radial-gradient(circle at top center, #6f0000 0%, #2E0531 100%); */
    background: radial-gradient(circle at top center, #8D2626 0%, #45071E 100%);



}

.bg-4 {
    /* halfway between 1 & 2 */
    background: #b35a30; 
    /* background: radial-gradient(circle at top center, #CE824F 0%, #9a3514 100%); */
    background: radial-gradient(circle at top center, #B76F3F 0%, #9a3514 100%);
}


#test-bg {
    background: radial-gradient(circle at top center, #B76F3F 0%, #9a3514 100%);

}


#nav-link:hover {
    color: #dcaa7e;
}



/* Header */
#outer-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}