@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	overflow: hidden;
}

body {
	overflow-x: hidden !important;
}

/* Remove scrollbars */
* {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

/* Nav / Header */
#mobile-nav-menu {
	translatey: -100%;
	opacity: 0;
	display: none;
	z-index: 1;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);

}

#mobile-header {
	opacity: 0;
	/* translatey: -100%; */
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);

}

#nav-svg {
	border-radius: 50%;
}

#nav-link {
	transition:
		filter 0.5s ease,
		text-shadow 0.5s ease,
		transform 0.5s ease;
	background: #e1eaf1;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

#nav-link:hover {
	background: linear-gradient(45deg, #f88f7f, #fbd586);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: grayscale(0.1);
}

.text-gradient {
	background: linear-gradient(45deg, #f88f7f, #fbd586);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: grayscale(0.2);
}

/* Homepage */
h1 {
	text-transform: uppercase;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	line-height: 5.9rem;
	letter-spacing: 0.25rem;
	text-align: left;
	color: #0f1113;
}

#hero-main-text {
	letter-spacing: 0.25rem;
}

#word1,
#word2,
#word3,
#word4,
#initial-entry {
	transform: translateY(115px);
}


.text-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Swipe colours */
.bg-1,
#home-section1 {
	background: radial-gradient(circle at top center, #11223f 10%, #000510 100%);
}

.bg-2,
/* #portfolio, */
#portfolio-bg {
	background: radial-gradient(circle at top center, #11263f 10%, #000710 100%);
}

.bg-3,
#tech {
	background: radial-gradient(circle at top center, #112f3f 10%, #000a10 100%);
}

.bg-4 {
	background: radial-gradient(circle at top center, #11333f 10%, #000c10 100%);
}

/* 
Original Colours
Blue: background: radial-gradient(circle at top center, #144472 0%, #022241 100%);
Red: background: radial-gradient(circle at top center, #8d2626 0%, #45071e 100%);
Orange: background: radial-gradient(circle at top center, #b76f3f 0%, #9a3514 100%);
Green: 	background: radial-gradient(circle at top center, #0c8c45 0%, #023926 100%);


 */

/* Header */
#outer-header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* Transitions */
#page-transition-text {
	color: #e1eaf1;
	top: 50%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	transform: translate(0%, -50%) translate(-50%, 0px) !important;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.25rem;
	/* wrap: nowrap; */
	white-space: nowrap;
}


