#boxSection {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto !important;
	max-height: auto !important;
	perspective: 600px !important;
	transform-style: preserve-3d;
	background: white;
}

#boxContainer {
	position: relative !important;
	background: rgb(18, 59, 98);
	background: radial-gradient(
		circle at top center,
		rgba(18, 59, 98, 1) 0%,
		rgba(2, 34, 65, 1) 100%
	);
}

#boxTitle1 {
	opacity: 0;
	font-size: 75px;
	font-weight: 400;
}

#boxSubtitle1 {
	font-size: 25px;
	font-weight: 400;
	text-align: right;
	width: 40%;
	color: "#ffffff";
	align-self: flex-end;
	opacity: 0;
}
