#boxSection {
	position: relative;
	display: flex;
	background: white;
}

#boxContainer {
	position: relative;
	background: rgb(18, 59, 98);
	background: radial-gradient(
		circle at top center,
		rgba(18, 59, 98, 1) 0%,
		rgba(2, 34, 65, 1) 100%
	);
}

#boxTitle1 {
	opacity: 0;
	font-size: 75px;
	font-weight: 600;
	letter-spacing: 0.02em;
}

#boxSubtitle1 {
	font-size: 25px;
	font-weight: 400;
	text-align: right;
	width: 40%;
	color: "#ffffff";
	align-self: flex-end;
	opacity: 0;
	letter-spacing: 0.02em;
}

.marquee {
	--gap: 3rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marquee-content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
}

.marquee-content {
	animation: scroll 45s linear infinite;
}

.marquee-reverse {
	animation-direction: reverse;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

.tech-logo {
    height: 60px;
    width: 60px;
}