#boxSection {
	/* position: relative;
	display: flex;
	background: white; */
}

#boxContainer {
	position: relative;
	background: #086a38;
	background: radial-gradient(circle at top center, #0c8c45 0%, #023926 100%);
	marginLeft: auto;
	marginRight: auto;
	width: 100vw;
	height: 100vh;
}

#boxTitle1 {
	color: #FFFFFF;
	top: 50%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.05em;
}

#boxSubtitle1 {
	display: flex;
	justify-content: center;
	font-size: 25px;
	color: #ffffff;
	align-self: center;
	letter-spacing: 0.05em;
	top: 60%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	transform: translate(-50%, -50%);
	text-align: center;
}

.marquee {
	--gap: 6rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	position: relative;
	mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);
	-webkit-mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);
}

.marquee-content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
	animation: scroll 75s linear infinite;
}


.marquee-reverse {
	animation-direction: reverse;
}

#marqueeContainerTop {
    transform: translateY(42vh);
}

#marqueeContainerBottom {
    transform: translateY(-30vh);
}


@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

li .tech-logo {
    height: 55px;
    width: 55px;
	transition: 0.3s;
}

.tech-logo:hover {
	filter: grayscale(0);
	transform: translateY(-5px);
}

