#boxSection {
	position: relative;
	display: flex;
	background: white;
}

#boxContainer {
	position: relative;
	background: #086a38;
	background: radial-gradient(circle at top center, #0c8c45 0%, #023926 100%);
}

#boxTitle1 {
	font-weight: 600;
	letter-spacing: 0.05em;
}

#boxSubtitle1 {
	font-size: 25px;
	text-align: center;
	width: 40%;
	color: "#ffffff";
	align-self: center;
	letter-spacing: 0.05em;
}

.marquee {
	--gap: 6rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	position: relative;
	mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);
	-webkit-mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);

}

.marquee-content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
	animation: scroll 75s linear infinite;
}


.marquee-reverse {
	animation-direction: reverse;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

.tech-logo {
    height: 55px;
    width: 55px;
	/* filter: grayscale(1); */
}
